use TripOutDW
go
If (object_id('vETLDimHotelData') is not null) Drop View vETLDimHotelData;
go
CREATE VIEW vETLDimHotelData
AS
SELECT
    IdHotelu          AS BKHotelu,
    Nazwa             AS Nazwa,

    -- ulica = pierwsza czesc adresu
    LTRIM(PARSENAME(REPLACE(Adres, ',', '.'), 3)) AS Adres,

    LTRIM(PARSENAME(REPLACE(Adres, ',', '.'), 2)) AS Miasto,
    LTRIM(PARSENAME(REPLACE(Adres, ',', '.'), 1)) AS Kraj,

    StandardHotelu    AS StandardHotelu,
    ZakresWyzywienia  AS ZakresWyzywienia,

    Liczba2osobowych  AS LPokoi2os,
    Liczba3osobowych  AS LPokoi3os,
    Liczba4osobowych  AS LPokoi4os,

    Udogodnienie      AS UdogodnienieGlowne
FROM TripOutDB.dbo.Hotel;
GO

MERGE INTO Hotel AS TT
USING vETLDimHotelData AS ST
    ON TT.BKHotelu = ST.BKHotelu

WHEN NOT MATCHED
    THEN
        INSERT VALUES (
            ST.BKHotelu,
            ST.Nazwa,
            ST.Adres,
            ST.Kraj,
            ST.Miasto,
            ST.StandardHotelu,
            ST.ZakresWyzywienia,
            ST.LPokoi2os,
            ST.LPokoi3os,
            ST.LPokoi4os,
            ST.UdogodnienieGlowne,
            1       -- IsCurrent / Aktualny
        )

WHEN MATCHED 
    AND (
           ST.Nazwa <> TT.Nazwa
        OR ST.Adres <> TT.Adres
        OR ST.Kraj <> TT.Kraj
        OR ST.Miasto <> TT.Miasto
        OR ST.StandardHotelu <> TT.StandardHotelu
        OR ST.ZakresWyzywienia <> TT.ZakresWyzywienia
        OR ST.LPokoi2os <> TT.LPokoi2os
        OR ST.LPokoi3os <> TT.LPokoi3os
        OR ST.LPokoi4os <> TT.LPokoi4os
        OR ST.UdogodnienieGlowne <> TT.UdogodnienieGlowne
    )
    THEN
        UPDATE
        SET TT.Aktualny = 0   -- / IsCurrent = 0
;
GO

INSERT INTO Hotel (
    BKHotelu,
    Nazwa,
    Adres,
    Kraj,
    Miasto,
    StandardHotelu,
    ZakresWyzywienia,
    LPokoi2os,
    LPokoi3os,
    LPokoi4os,
    UdogodnienieGlowne,
    Aktualny
)
SELECT 
    BKHotelu,
    Nazwa,
    Adres,
    Kraj,
    Miasto,
    StandardHotelu,
    ZakresWyzywienia,
    LPokoi2os,
    LPokoi3os,
    LPokoi4os,
    UdogodnienieGlowne,
    1
FROM vETLDimHotelData
EXCEPT
SELECT 
    BKHotelu,
    Nazwa,
    Adres,
    Kraj,
    Miasto,
    StandardHotelu,
    ZakresWyzywienia,
    LPokoi2os,
    LPokoi3os,
    LPokoi4os,
    UdogodnienieGlowne,
    1
FROM Hotel;
GO
Drop View vETLDimHotelData;